.container {
	display: flex;
	flex-direction: column;
	align-items: left;
}

body {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	background-image: url(background.jpg);	
	background-size: 100%;
}

h3 {
	font-weight: normal;
}

body:hover {
	color: black;
	font-family: Arial, sans-serif; /* Fixed font family name */
}
